.box{
    width: 7.5vh;
    height: 50px;
    background-color: black;
    font-size: 2em;
    display: flex !important;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    text-align: center;
}

.box-index{
    position: relative;
    top: 40px
}

.player🔴{
    position: relative;
    top: 20px;
}

.player🔵{
    position: relative;
    bottom: 17px;
}

.show{
    opacity: 1;
}

.hide{
    opacity: 0;
}